<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.order.machine.mapper.OrderConfigMapper">

    <update id="updateActivateCount" parameterType="string">
      UPDATE tb_order_config
      SET activate_count=activate_count+1
      WHERE order_id=#{orderId}
    </update>

    <select id="listOrderCount" resultType="com.order.machine.dto.OrderStatistics">
        SELECT
        a.company_id,
        b.company_name,
        COUNT(a.order_id) ordercount,
        SUM(a.licence_count) licencecount,
        SUM(a.activate_count) activatecount
        FROM tb_order_config a
        INNER JOIN tb_company b ON a.company_id=b.company_id
        <where>
            <if test="companyId != '' and companyId != null">
              a.company_id=#{companyId}
            </if>
            <if test="orderDateBegin != '' and orderDateBegin != null">
                AND (order_date <![CDATA[>=]]> #{orderDateBegin} AND order_date <![CDATA[<=]]> #{orderDateEnd})
            </if>
        </where>
    </select>

    <insert id="addOrderConfigByList" parameterType="com.order.machine.po.OrderConfigPo">
        INSERT INTO tb_order_config(
          id,
          company_id,
          order_id,
          licence_count,
          key1,
          key2,
          order_date
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
        (
            #{item.id},
            #{item.companyId},
            #{item.orderId},
            #{item.licenceCount},
            #{item.key1},
            #{item.key2},
            #{item.orderDate}
        )
        </foreach>
    </insert>
</mapper>