<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.order.machine.mapper.OrderConfigMapper">

    <select id="listOrderCount" resultType="com.order.machine.dto.OrderStatistics">
        SELECT
        a.company_id,
        b.company_name,
        COUNT(a.order_id) ordercount,
        SUM(a.licence_count) licencecount,
        SUM(a.activate_count) activatecount
        FROM tb_order_config a
        INNER JOIN tb_company b ON a.company_id=b.company_id
        <where>
            <if test="companyId != '' and companyId != null">
                a.company_id=#{companyId}
            </if>
            <if test="orderId != '' and orderId != null">
                AND a.order_id=#{orderId}
            </if>
            <if test="orderDateBegin != '' and orderDateBegin != null">
                AND (order_date <![CDATA[>=]]> #{orderDateBegin} AND order_date <![CDATA[<=]]> #{orderDateEnd})
            </if>
        </where>
    </select>

    <select id="getOrderCount" resultType="com.order.machine.dto.OrderTimesCount">
        SELECT
        b.company_id,
        c.company_name,
        a.order_id,
        a.activate_times,
        COUNT(a.activate_times) activate_times_count
        FROM tb_activate a
        INNER JOIN tb_order_config b ON a.order_id=b.order_id
        INNER JOIN tb_company c ON b.`company_id`=c.company_id
        <where>
            <if test="orderId != '' and orderId !=null">
                a.order_id=#{orderId}
            </if>
            <if test="companyId !='' and companyId != null">
                AND b.companyId=#{companyId}
            </if>
            <if test="activateTimes != null">
                AND a.activate_times=${activateTimes}
            </if>
        </where>
        GROUP BY a.activate_times
    </select>

    <select id="getOrderConfig" resultType="com.order.machine.dto.OrderConfigDto">
        SELECT
            a.order_id,
            a.company_id,
            b.`company_name`,
            a.licence_count,
            a.key1,
            a.activate_count,
            a.is_close,
            a.status,
            a.order_date,
            a.create_time
        FROM tb_order_config a
        INNER JOIN tb_company b ON a.`company_id`=b.`company_id`
        WHERE a.order_id = #{orderId}
    </select>

    <select id="listOrderConfig" resultType="com.order.machine.dto.OrderConfigDto">
        SELECT
        a.order_id,
        a.company_id,
        b.`company_name`,
        a.licence_count,
        a.key1,
        a.activate_count,
        a.is_close,
        a.status,
        a.order_date,
        a.create_time
        FROM tb_order_config a
        INNER JOIN tb_company b ON a.`company_id`=b.`company_id`
        WHERE (a.order_date BETWEEN #{beginDate} AND #{endDate})
        <if test="companyId != '' and companyId != null ">
            AND a.company_id=#{companyId}
        </if>
        <if test="isClose != '' and isClose != null">
            AND a.is_close=${isClose}
        </if>
        ORDER BY create_time DESC
    </select>

    <select id="listActivateByCount" resultType="com.order.machine.dto.ActivateCount">
        SELECT
          order_id,
          chip_sn,
          activate_times,
          update_time FROM tb_activate
        <where>
            <if test="activateTimes != null">
                <choose>
                    <when test="activateTimes == 1 or activateTimes == 2">
                        activate_times=${activateTimes}
                    </when>
                    <otherwise>
                        activate_times>=${activateTimes}
                    </otherwise>
                </choose>
            </if>
            <if test="companyId != '' and companyId != null">
                AND SUBSTR(order_id,1,3)=#{companyId}
            </if>
            <if test="orderId != '' and orderId != null">
                AND order_id=#{orderId}
            </if>
            <if test="chipSn != '' and chipSn != null">
                AND chip_sn=#{chipSn}
            </if>
        </where>
    </select>

    <select id="listActivateCountTotal" resultType="com.order.machine.dto.ActivateCountTotal">
        SELECT b.company_id,c.company_name,a.order_id,b.licence_count,b.activate_count,b.order_date,
        COUNT(CASE WHEN activate_times=1 THEN activate_times END) 'one_times',
        COUNT(CASE WHEN activate_times=2 THEN activate_times END) 'two_times',
        COUNT(CASE WHEN activate_times>=3 THEN activate_times END) 'three_times'
        FROM tb_activate a
        INNER JOIN tb_order_config b ON a.order_id=b.order_id
        INNER JOIN tb_company c ON b.company_id=c.company_id
        <where>
            <if test="orderId != null">
                a.order_id=#{orderId}
            </if>
            <if test="companyId != null">
                AND SUBSTR(a.order_id,1,3)=#{companyId}
            </if>
        </where>
        GROUP BY a.order_id
    </select>

    <update id="updateActivateCount" parameterType="string">
        UPDATE tb_order_config
        SET activate_count=activate_count+1
        WHERE order_id=#{orderId}
    </update>

    <insert id="addOrderConfigByList" parameterType="com.order.machine.po.OrderConfigPo">
        INSERT INTO tb_order_config(
          company_id,
          order_id,
          licence_count,
          key1,
          key2,
          order_date
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
        (
            #{item.companyId},
            #{item.orderId},
            #{item.licenceCount},
            #{item.key1},
            #{item.key2},
            #{item.orderDate}
        )
        </foreach>
    </insert>
</mapper>